<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>We Love Pet</title>

    <!-- Css -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ui.css"  type="text/css"/>
    <link rel="stylesheet" href="~/css/responsive.css" />

    <!-- fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap" rel="stylesheet">

    <!-- scripts-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>

<body class="container-fluid p-0 d-flex flex-col ">

    <!-- Menu Lateral -->
    <vc:Menu></vc:Menu>

    <!-- Conteúdo Principal -->
    <main class="">
        <vc:summary></vc:summary>
        @RenderBody()
    </main>
   

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
